{% load static %}

<article class="content-item">
    <div class="entry-media">
        <div class="post-title">
            <h2><a href="#"> Weekly photoshoots </a></h2>
            <div class="entry-date">
                <ul>
                    <li>
                        <a href='#'>food recipe</a>
                    </li>
                    <li>may 15,2001</li>
                    <li>23 comment</li>
                </ul>
            </div>
        </div>
        <div class="bubble-line"></div>
        <div class="post-content">
            <div class="content_slide">
                <div class="swiper-container">
                    <div class="swiper-wrapper s-slide-wrapper">
                        <div class="swiper-slide"><img src="{% static 'images/content/photo1.jpg' %}" alt="image"></div>
                        <div class="swiper-slide"><img src="{% static 'images/content/photo2.jpg' %}" alt="image"></div>
                        <div class="swiper-slide"><img src="{% static 'images/content/photo3.jpg' %}" alt="image"></div>
                        <div class="swiper-slide"><img src="{% static 'images/content/photo4.jpg' %}" alt="image"></div>
                    </div>
                    <div class="swiper-button-prev circle-arrow"><i class="fa fa-chevron-left"></i></div>
                    <div class="swiper-button-next circle-arrow"><i class="fa fa-chevron-right"></i></div>
                </div>
            </div>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remained.
            </p>
        </div>
        <div class="bubble-line"></div>
        <div class="post-footer">
            <div class="row">
                <div class="col-sm-5">
                    <a href="javascript:;" class="button">Continue reading</a>
                </div>
                <div class="col-sm-7 text-right">
                    <div class="content-social">
                        <a href="javascript:;"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                        <a href="javascript:;"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                        <a href="javascript:;"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>