{% load static %}

<article class="content-item">
    <div class="entry-media">
        <div class="post-ribbon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                 y="0px" viewBox="0 0 34 50" enable-background="new 0 0 34 50" xml:space="preserve">
                <g>
                    <polygon fill-rule="evenodd" clip-rule="evenodd"
                             points="17,40.7 0.5,49.2 0.5,0.5 33.5,0.5 33.5,49.2"/>
                    <path d="M33,1v47.4l-15.5-8L17,40.2l-0.5,0.2L1,48.4V1H33 M34,0H0v50l17-8.7L34,50V0L34,0z"/>
                </g>
            </svg>
            <i class="fa fa-star"></i>
        </div>
        <div class="post-title">
            <h2><a href="#">Weekly photoshoots</a></h2>
            <div class="entry-date">
                <ul>
                    <li><a href='#'>food recipe</a></li>
                    <li>may 15,2001</li>
                    <li>23 comment</li>
                </ul>
            </div>
        </div>
        <div class="bubble-line"></div>
        <div class="post-content">
            <div class="container gallery">
                <div class="row">
                    <div class="col-xs-6 photos ">
                        <a class="photos"><img src="{% static 'images/footer/photos1.jpg' %}" alt="not image"></a>
                    </div>
                    <div class="col-xs-6 photos ">
                        <a class="photos"><img src="{% static 'images/footer/photos2.jpg' %}" alt="image"></a>
                    </div>
                    <div class="col-xs-3 photos">
                        <a class="photos"> <img src="{% static 'images/content/photos3.jpg' %}" alt="image"></a>
                    </div>
                    <div class="col-xs-3 photos">
                        <a class="photos"> <img src="{% static 'images/content/photos4.jpg' %}" alt="image"></a>
                    </div>
                    <div class="col-xs-3 photos">
                        <a class="photos"> <img src="{% static 'images/content/photos5.jpg' %}" alt="image"></a>
                    </div>
                    <div class="col-xs-3 photos">
                        <a class="photos"> <img src="{% static 'images/content/photos3.jpg' %}" alt="image"></a>
                    </div>
                </div>
            </div>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a
                page
                when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                normal
                distribution of letters, as opposed to using 'Content here, content here', making it look
                like
                readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
                as their default model text, and a search for [...]
            </p>
        </div>
        <div class="bubble-line"></div>
        <div class="post-footer">
            <div class="row">
                <div class="col-sm-5">
                    <a href="javascript:;" class="button">Continue reading</a>
                </div>
                <div class="col-sm-7 text-right">
                    <div class="content-social">
                        <a href="javascript:;"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                        <a href="javascript:;"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                        <a href="javascript:;"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
