{% load static %}
<article class="content-item">
    <div class="entry-media">
        <div class="post-title">
            <h2><a href="javascript:;">Lonely white tree looking for us and waiting</a></h2>
            <div class="entry-date">
                <ul>
                    <li>
                        <a href='#'>food recipe</a>
                    </li>
                    <li>may 15,2001</li>
                    <li>23 comment</li>
                </ul>
            </div>
        </div>
        <div class="bubble-line"></div>
        <div class="post-content full-width">
            <img src="{% static 'images/03-Fullwidth.png' %}" alt="post image">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remained.
            </p>
        </div>
        <div class="bubble-line"></div>
        <div class="post-footer">
            <div class="row">
                <div class="col-sm-6">
                    <a href="javascript:;" class="button">Continue reading</a>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="content-social">
                        <a href="javascript:;"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
                        <a href="javascript:;"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
                        <a href="javascript:;"><i class="fa fa-pinterest"></i> <span>Pinterest</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>