{% load static %}
<article class="content-item">
    <div class="entry-media">
        <div class="post-title comment-title">
            <h3>3 Comments</h3>
        </div>
        <div class="bubble-line"></div>
        <div id="comments" class="comments-area">
            <div class="comments-wrapper">
                <ol class="comment-list">
                    <li id="comment-5">
                        <article>
                            <div class="comment-avatar">
                                <img src="{% static 'images/footer/photos5.jpg' %}" alt="no image">
                            </div>
                            <div class="comment-body">
                                <div class="meta-data">
                                    <span class="comment-author">Mercy Wagon</span>
                                    <span class="comment-date"> March 8. 2015 at 9:00pm </span>
                                </div>
                                <div class="comment-content">
                                    <p>Holisticly maximize scalable e-tailers vis-a-vis
                                        extensible outsourcing. Authoritatively synthesize
                                        standards compliant alignments before user-centric
                                        applications. .</p>
                                </div>

                            </div>
                        </article>
                        <ol class="children">
                            <li class="comment byuser comment-author-tommy odd alt depth-2" id="comment-17">
                                <article>
                                    <div class="comment-avatar">
                                        <img src="{% static 'images/content/about1.jpg' %}" alt="image">
                                    </div>
                                    <div class="comment-body">
                                        <div class="meta-data">
                                            <span class="comment-author">Tommy Morgan</span>
                                            <span class="comment-date"> March 8. 2015 at 9:00pm </span>

                                        </div>
                                        <div class="comment-content">
                                            <p>Professionally parallel task standards compliant
                                                strategic theme areas with performance based
                                                customer service.
                                            </p>
                                        </div>

                                    </div>
                                </article>

                            </li><!-- #comment-## -->
                        </ol><!-- .children -->
                    </li><!-- #comment-## -->

                    <li class="comment" id="comment-6">

                        <article>
                            <div class="comment-avatar">
                                <img src="{% static 'images/footer/photos5.jpg' %}" alt="image">
                            </div>

                            <div class="comment-body">
                                <div class="meta-data">
                                    <span class="comment-author">Mercy Wagon</span>
                                    <span class="comment-date"> March 8. 2015 at 9:00pm </span>
                                </div>
                                <div class="comment-content">
                                    <p>Authoritatively architect excellent experiences after
                                        interoperable e-commerce. Phosfluorescently leverage
                                        existing client-centered e-commerce after effective
                                        synergy.</p>
                                </div>

                            </div>
                        </article>

                    </li><!-- #comment-## -->
                </ol><!-- .comment-list -->

            </div>
        </div>
    </div>
</article>