{% load static %}
<article class="content-item">
    <div class="entry-media">
        <div class="post-title">
            <h2>Leave a reply</h2>
        </div>
        <div class="bubble-line"></div>
        <div class="post-content comment">
            <form>
                <div class="comment-form ">
                    <p class="input-name"> NAME (required) </p>
                    <input type="text" name="name" placeholder="">
                    <p class="input-name"> E-MAIL(required) </p>
                    <input type="text" name="name" placeholder="">
                    <p class="input-name"> COMMENT</p>
                    <textarea placeholder=""></textarea>
                </div>
                <div class="comment-submit">
                    <a href="javascript:;" class="button">post comment</a>
                </div>
            </form>
        </div>
    </div>
</article>