{% load static %}
<article class="content-item">
    <div class="entry-media">
        <div class="post-title">
            <h2><a href="javascript:;">Related posts</a></h2>
        </div>
        <div class="bubble-line"></div>
        <div class="post-content related">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="related-post">
                        <img src="{% static 'images/content/related.png' %}" alt="related post">
                        <h4><a href="javascript:;">This is how we do.</a></h4>
                        <p><i class="fa fa-clock-o"></i> MAY 24, 2015</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="related-post">
                        <img src="{% static 'images/content/photos4.jpg' %}" alt="related post">
                        <h4><a href="javascript:;">New mens fashion DIY added.</a></h4>
                        <p><i class="fa fa-clock-o"></i> MAY 24, 2015</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="related-post">
                        <img src="{% static 'images/content/related1.jpg' %}" alt="related post">
                        <h4><a href="javascript:;">Choose your day</a></h4>
                        <p><i class="fa fa-clock-o"></i> MAY 24, 2015</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</article>