<div class="widget">
    <h3 class="widget-title"> Category</h3>
    <div class="bubble-line"></div>
    <div class="widget-content">
        <ul>
            <li><a href="javascript:;">Video & music</a></li>
            <li><a href="javascript:;">Fashion</a></li>
            <li><a href="javascript:;">Travel & hiking</a></li>
            <li><a href="javascript:;">Photography</a></li>
            <li><a href="javascript:;">food recipe</a></li>
            <li><a href="javascript:;">do it yourself</a></li>
        </ul>
    </div>
</div>