{% load static %}
<div class="widget">
    <h3 class="widget-title"> Resent posts </h3>
    <div class="bubble-line"></div>
    <div class="widget-content">
        <div class="widget-recent">
            <img src="{% static 'images/widget/resent.jpg' %}" alt="not image">
            <h4><a href="javascript:;">Meet my workspace</a> </h4>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry.
            </p>
        </div>
        <div class="widget-recent">
            <img src="{% static 'images/widget/resent1.jpg' %}" alt="not image">
            <h4><a href="javascript:;">This is how to unique idea born</a> </h4>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry.
            </p>
        </div>
        <div class="widget-recent last">
            <img src="{% static 'images/content/photos4.jpg' %}" alt="not image">
            <h4><a href="javascript:;">Only you will choose your life.</a></h4>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry.
            </p>
        </div>
    </div>
</div>