<div class="widget-sub social">
    <ul>
        <li>
            <a class="social-widget" href="javascript:;"> <i class="fa fa-facebook"> </i><span> share</span></a>
            <div> 211</div>
        </li>
        <li>
            <a class="social-widget" href="javascript:;"> <i class="fa fa-twitter"></i> <span>follow</span></a>
            <div> 121</div>
        </li>
        <li>
            <a class="social-widget" href="javascript:;"> <i class="fa fa-google-plus"></i> <span> share </span></a>
            <div> 11</div>
        </li>
        <li>
            <a class="social-widget" href="javascript:;"> <i class="fa fa-instagram"></i> <span> follow  </span></a>
            <div>65</div>
        </li>
    </ul>
</div>