{% load static %}
<div class="widget">
    <h3 class="widget-title">Story about me</h3>
    <div class="bubble-line"></div>

    <div class="widget-content">
        <img src="{% static 'images/widget/about.jpg' %}" alt="not image">
        <p>Hello I’m Jenny Kurto author of Letter town blog. This is my personal space which is like to share
            others. And i’m living New York city working and blogging.</p>
        <div class="widget-more">
            <a href="javascript:;" class="button">More story</a>
        </div>
    </div>
</div>